doc/en/html/.buildinfo
doc/en/html/genindex.html
doc/en/html/index.html
doc/en/html/objects.inv
doc/en/html/search.html
doc/en/html/searchindex.js
doc/en/html/.doctrees/environment.pickle
doc/en/html/.doctrees/index.doctree
doc/en/html/_sources/index.rst.txt
doc/en/html/_static/alabaster.css
doc/en/html/_static/basic.css
doc/en/html/_static/custom.css
doc/en/html/_static/doctools.js
doc/en/html/_static/documentation_options.js
doc/en/html/_static/file.png
doc/en/html/_static/jquery-3.5.1.js
doc/en/html/_static/jquery.js
doc/en/html/_static/language_data.js
doc/en/html/_static/minus.png
doc/en/html/_static/plus.png
doc/en/html/_static/pygments.css
doc/en/html/_static/searchtools.js
doc/en/html/_static/underscore-1.13.1.js
doc/en/html/_static/underscore.js
